# Django
DJANGO_SECRET_KEY=CHANGE_IT
DJANGO_DEBUG=CHANGE_IT
DJANGO_ALLOWED_HOSTS=CHANGE_IT

# MySQL Database
DB_NAME=CHANGE_IT
DB_USER=CHANGE_IT
DB_PASSWORD=CHANGE_IT
DB_HOST=CHANGE_IT
DB_PORT=CHANGE_IT

# Face Auth Service URL (for identity verification calls)
FACE_AUTH_SERVICE_URL=CHANGE_IT

# Timezone
CELERY_TIMEZONE=CHANGE_IT

# Redis
REDIS_HOST=CHANGE_IT
REDIS_PORT=CHANGE_IT
REDIS_DB=CHANGE_IT
REDIS_DECODE_RESPONSES=CHANGE_IT

# MongoDB
MONGO_USER=CHANGE_IT
MONGO_PASSWORD=CHANGE_IT
MONGO_HOST=CHANGE_IT
MONGO_PORT=CHANGE_IT
MONGO_DB=CHANGE_IT
MONGO_URI=CHANGE_IT

# AWS S3
AWS_ACCESS_KEY_ID=CHANGE_IT
AWS_SECRET_ACCESS_KEY=CHANGE_IT
AWS_REGION=CHANGE_IT
AWS_S3_BUCKET=CHANGE_IT

# GPU/TF/MediaPipe
TF_CPP_MIN_LOG_LEVEL=CHANGE_IT
TF_ENABLE_ONEDNN_OPTS=CHANGE_IT
TF_FORCE_GPU_ALLOW_GROWTH=CHANGE_IT
CUDA_VISIBLE_DEVICES=CHANGE_IT
MEDIAPIPE_DISABLE_GPU=CHANGE_IT
ORT_LOGGING_LEVEL=CHANGE_IT
GLOG_minloglevel=CHANGE_IT
INSIGHTFACE_USE_GPU=CHANGE_IT

FACE_AUTH_SERVICE_URL=CHANGE_IT