Django==5.0.14
django-cors-headers==4.7.0
python-dotenv==1.1.1
mysqlclient==2.2.8
numpy==1.26.4
opencv-python-headless==4.11.0.86
Pillow==11.2.1
mediapipe==0.10.21
scipy==1.15.3
requests==2.32.3
asgiref==3.8.1
pytz==2025.2
redis