DB_NAME=CHANGE_IT
DB_USER=CHANGE_IT
DB_PASSWORD=CHANGE_IT
DB_HOST=CHANGE_IT
DB_PORT=CHANGE_IT
REDIS_HOST=CHANGE_IT
REDIS_PORT=CHANGE_IT
REDIS_DB=CHANGE_IT
DJANGO_SECRET_KEY=CHANGE_IT
DEBUG=CHANGE_IT
ALLOWED_HOSTS=CHANGE_IT