# Django
DJANGO_SECRET_KEY=CHANGE_IT
DJANGO_DEBUG=CHANGE_IT
DJANGO_ALLOWED_HOSTS=CHANGE_IT

# MongoDB
MONGO_USER=CHANGE_IT
MONGO_PASSWORD=CHANGE_IT
MONGO_HOST=CHANGE_IT
MONGO_PORT=CHANGE_IT
MONGO_DB=CHANGE_IT
MONGO_URI=CHANGE_IT

# MongoDB Collections
FACE_EMBEDDINGS_COLLECTION=CHANGE_IT
VERIFICATION_LOGS_COLLECTION=CHANGE_IT
VERIFICATION_SESSIONS_COLLECTION=CHANGE_IT

# Face Recognition
FACE_DISTANCE_THRESHOLD=CHANGE_IT
FACE_MODEL_NAME=CHANGE_IT
FACE_DETECTION_SIZE=CHANGE_IT
CAMERA_FRAME_GAP_THRESHOLD=CHANGE_IT
ALLOW_MULTIPLE_FACES=CHANGE_IT
MAX_ALLOWED_FACES=CHANGE_IT

# AWS S3 (for profile photo embeddings)
AWS_ACCESS_KEY_ID=CHANGE_IT
AWS_SECRET_ACCESS_KEY=CHANGE_IT
AWS_REGION=CHANGE_IT
AWS_S3_BUCKET=CHANGE_IT

# Timezone
CELERY_TIMEZONE=CHANGE_IT