# Django
DJANGO_SECRET_KEY=CHANGE_IT
DJANGO_DEBUG=CHANGE_IT
DJANGO_ALLOWED_HOSTS=CHANGE_IT

# MySQL Database
DB_NAME=CHANGE_IT
DB_USER=CHANGE_IT
DB_PASSWORD=CHANGE_IT
DB_HOST=CHANGE_IT
DB_PORT=CHANGE_IT

# MongoDB (for video metadata)
MONGO_URI=CHANGE_IT
MONGO_DB=CHANGE_IT

# Redis
REDIS_HOST=CHANGE_IT
REDIS_PORT=CHANGE_IT
REDIS_RECORDING_DB=CHANGE_IT

# Celery
CELERY_BROKER_URL=CHANGE_IT
CELERY_RESULT_BACKEND=CHANGE_IT
CELERY_TIMEZONE=CHANGE_IT

# AWS S3
AWS_ACCESS_KEY_ID=CHANGE_IT
AWS_SECRET_ACCESS_KEY=CHANGE_IT
AWS_REGION=CHANGE_IT
AWS_S3_BUCKET=CHANGE_IT
S3_FOLDER_VIDEOS=CHANGE_IT
S3_FOLDER_TRANSCRIPTS=CHANGE_IT
S3_FOLDER_SUMMARY=CHANGE_IT
S3_FOLDER_IMAGES=CHANGE_IT
S3_FOLDER_SUBTITLES=CHANGE_IT
S3_FOLDER_RECORDINGS_TEMP=CHANGE_IT

# LiveKit
LIVEKIT_URL=CHANGE_IT
LIVEKIT_URL=CHANGE_IT
LIVEKIT_API_KEY=CHANGE_IT
LIVEKIT_API_SECRET=CHANGE_IT

# AI Keys
OPENAI_API_KEY=CHANGE_IT
GROQ_API_KEY=CHANGE_IT

# Timezone
CELERY_TIMEZONE=CHANGE_IT